@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: 'Questrial', sans-serif;
    background-color: #1C1F2E;
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #1C1F2E;
    width: 100px;
    padding: 10px 0;
    align-items: center;
    box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -webkit-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -moz-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
}

.icon-container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.icons{
    margin-top: 30px;
    list-style: none;
    cursor: pointer;
}

.home, .chatbox, .background,.bulb, .calendar, .notify{
    color: #F6F6F6;
    font-size: 25px;
}

/*icon-container-second*/
.icon-container-second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: 4vw;
    background-color: #242736;
    height: 6vh;
    border-radius: 10px;
}

.settings{
    position: relative;
    bottom: 10px;
    color: #F6F6F6;
    font-size: 25px;
}

/*middle-container*/
.middle-container{
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
    width: 70%;
    box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -webkit-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -moz-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
}

.meeting-header-wrapper{
    box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -webkit-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -moz-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    height: 58px;
    padding-left: 20px;
}

.meeting-header-wrapper>h2{
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #F6F6F6;
}

.camera-container{
    display: flex;
    flex-direction: column;
    /*background-color: white;*/
    height: 80vh;
    margin-top: 10px;
    padding: 5px;
}

.main-user-camera-wrapper{
    display: flex;
    margin: 0 auto 0 auto;
    height: 47vh;
    /*background-color: aqua;*/
}

.main-camera{
    height: 370px;
    width: 800px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    background-image: url(images/img.jpg);
}

.sub-camera-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*background-color: hotpink;*/
    height: 250px;
    margin-top: 10px;
    align-items: center;
    padding: 10px;
}

.user1{
    height: 220px;
    width: 300px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    background-image: url(images/img.jpg);
}

.spacing{
    margin-left: 30px;
}

/*CONTROLS-SECTION*/
.controls-section{
    display: flex;
    flex-direction: row;
    /*background-color: blueviolet;*/
    align-items: center;
    height: 20vh;
    box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -webkit-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -moz-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
}

.mic-control, .rec-control, .participants-control, .end-meeting-control, .quality-control, .radio-control, .chat-control{
    border: none;
    padding: 10px;
    height: 60px;
    width: 80px;
    border-radius: 10px;
    margin-left: 30px;
    background-color: #242736;
    color: #F6F6F6;
    cursor: pointer;
}

.left-side{
    margin-right: auto;
}

.center{
    background-color: red;
    color: #fff;
    font-weight: 600;
    width: 150px;
    margin: auto;
}

.right-side{
    margin-right: auto;
}

.control-icons{
    font-size: 28px;
}

.drop{
    font-size: 20px;
}

/*CHAT-SECTION*/
.chat-section{
    display: flex;
    flex-direction: column;
    /*background-color: #fff;*/
    height: 100vh;
    width: 25%;
    box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -webkit-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -moz-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
}

.search-container{
    display: flex;
    flex-direction: row;
    /*background-color: hotpink;*/
    height: 65px;
    padding: 10px 20px;
    box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -webkit-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -moz-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
}

.search-wrapper{
    display: flex;
    flex-direction: row;
    background-color: #212534;
    border-radius: 10px;
    width: 270px;
    align-items: center;
    padding: 2px 4px;
}

.search-icon{
    font-size: 20px;
    color: #F6F6F6;
    font-weight: bolder;
}

#search-input{
    padding: 5px;
    font-size: 15px;
    color: #F6F6F6;
    width: 90%;
    margin-left: 5px;
    border: none;
    background-color: transparent;
    outline: none;
}

#search-input::placeholder{
    color: #fff;
}

.user-img{
    margin-left: auto;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

/*CHAT-BUTTON-SECTION*/
.chat-button-container{
    display: flex;
    flex-direction: row;
    /*background-color: aqua;*/
    height: 90px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -webkit-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -moz-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
}

.chat-btn-wrapper{
    display: flex;
    flex-direction: row;
    background-color: #212534;
    padding: 3px 1px;
    width: 90%;
    border-radius: 9px;
}

.participants-tab{
    border: none;
    height: 50px;
    width: 150px;
    background-color: #1C1F2E;
    color: #F6F6F6;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.viewers-tab{
    margin-left: 10px;
    border: none;
    height: 50px;
    width: 150px;
    background-color: transparent;
    color: #F6F6F6;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}
/*CONTACT-SECTION*/
.contact-section{
    display: flex;
    flex-direction: column;
    /*background-color: yellow;*/
    padding: 10px;
    box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -webkit-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -moz-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
}

.contact1{
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 100%;
    align-items: center;
    background-color: #212534;
    border-radius: 10px;
    cursor: pointer;
}

.contact-profile-image{
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

.contact-name{
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #F6F6F6;
}

.icon-contact-wrapper{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.contact-mic{
    margin-left: auto;
    padding-right: 15px;
    font-size: 25px;
    color: #F6F6F6;
}

.contact-videocam{
    margin-left: auto;
    padding-right: 5px;
    font-size: 25px;
    color: #F6F6F6;
}

.contact2{
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    background-color: #212534;
    border-radius: 10px;
    cursor: pointer;
}

/*CHAT-ROOM*/
.chat-room{
    /*background-color: aqua;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -webkit-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
    -moz-box-shadow: 0px 0px 5px -3px rgba(216,211,211,0.75);
}

.chat-room>h2{
    color: #f6f6f685;
}